@font-face {
    font-family: 'CalculatorFont';
    src: url('digital.ttf') format('truetype');
    /* Specify the correct path to your downloaded calculator-style font file */
}


body{
    Background: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  a {
    color: #CFD6E1;
    font-size: 3.0em;
    margin-bottom: 10px;
  }
  
  .calculator {
      width: 250px;
      margin: 0 auto;
    padding: 30px 30px;
    padding-right:50px;
    Background: #626369;
    border-radius:20px;
  }
  
  
  .calculatorBox {
      width: 250px;
      margin: 0 auto;
    padding-right:80px;
    Background: white;
    
  }
  
  
  
  
  
  
  table {
      width: 100%;
      
  }
 

  td {
    padding-right: 5px;
    padding-left: 5px; /* Add space around each table cell */
}
  
  
  button {
      width: 100%;
      padding: 10px;
      margin: 5px;
    
      font-size: 1.8em;
    font-weight: bold;
    Background: #FFFFFF;
    border-radius: 10px;
    border: white;
      box-shadow: 0px 5px 0px #E5E6E7;
    
  }
  
  .equal{
    Background: #F99734;
     box-shadow: 0px 5px 0px #DF833D;
    
  }
  
  input[type="text"] {
      width: 100%;
      height: 30px;
      padding: 10px;
      padding-right: 1px;
      padding-left: 1px;
      margin-bottom: 10px;
      font-size: 1.2em;
      text-align: right;
    border-radius:10px;
    Background: #CFD6E1;
    box-shadow: 0px 5px 0px #C2C7D3;
    font-family: 'CalculatorFont', Arial, sans-serif;
    
  }
  